/** CSS Styles */

#getting-started .intro {
    display: flex;
    justify-content: center;
    margin: 4rem 0;
}

#getting-started .card {
    border-radius: 0;
    margin-bottom: 5rem;
}

#getting-started a {
    color: inherit;
}

#getting-started .list {
    margin: 0 2rem !important;
}

#getting-started main {
    text-align: center;
}

#getting-started h2 {
    text-align: center;
}

/******** josGrid  ****/

.jos-table-container {
    max-width: 1000px;
}

.jos-table {
    max-width: 800px !important;
    border-collapse: collapse;
    border: 1px solid #ddd;
    min-width: 100%;
}

.jos-table tr {
    border-bottom: 1px solid #bbb;
}

.jos-table th {
    vertical-align: top;
}

.jos-table th, .jos-table td {
    text-align: left;
    vertical-align: top;
    padding: 2px;
    border-bottom: 1px solid #ddd;
}

.jos-table th {
    background: #cde;
    color: black;
    font-weight: 125%;
}

.jos-table th >a {
    color: white;
}

.jos-table th>input {
    color: black;
    font-weight: normal;
    width: 100%;
    background: white;
}

.jos-table tr:hover {
    background-color: #f5f5f5
}

.jos-table tr:nth-child(even) {
    background-color: #f2f2f2
}

/******** josGrid END ****/

#vue-koulutukset input {
    border: 1px solid #eee;
    width: 80%;
    min-width: 50px;
}